<div class="window">
    <div class="window-status" ng-if="loginProgress">
        <div class="progress-bar"></div>
    </div>
    <header class="window-head">
        <img class="__logo" ng-src="{{uiCustomization.contrast_logo || 'Content/themes/main/images/contrast-logo.png'}}" />
        <span class="window-t">{{ 'platform.blades.welcome.labels.gfmarket-management-system' | translate: (uiCustomization.title ? uiCustomization : { title: 'Virto Commerce' }) }}</span>
    </header>

    <div class="window-cnt">
        <div class="column">
            <div class="form-group" align="center">
                <img ng-src="{{'Content/themes/main/images/logo.png'}}" width="90" height="90" />
            </div>
        </div>
    </div>

    <div class="window-cnt">
        <div class="column">
            <div class="form-group" align="center">
                <button class="btn" style="padding: 0px 10px" type="button" ng-click="openVerifyDialog()">
                    <span>{{ 'platform.blades.welcome.labels.create-bp-account' | translate }}</span>
                </button>
            </div>
        </div>
    </div>

    <div class="window-cnt">
        <div class="column">
            <div class="form-group" align="center">
                <button class="btn" style="padding: 0px 15px" type="button" ng-click="openLoginDialog()">
                    <span>{{ 'platform.blades.welcome.labels.login-to-system' | translate }}</span>
                </button>
            </div>
        </div>
    </div>
    <div class="window-cnt">
        <div class="column">
            <div class="form-group" align="center">
                <a style="white-space: nowrap" ui-sref="forgotpasswordDialog">{{ 'platform.blades.login.labels.forgot-password' | translate }}</a>
            </div>
        </div>
    </div>

    <br />
    <br />
</div>
